.academyHeader:before {
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 150px;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 100%;
  content: "";
}
.academy_video:after {
     content: "";
  position: absolute;
  bottom: 185px;
  left: 0;
  height: 65%;
  width: 100%;
  z-index: 0;
background: linear-gradient(to bottom,  rgba(231,237,243,0) 0%,rgba(231,237,243,1) 30%,rgba(231,237,243,1) 100%,rgba(231,237,243,0) 100%); 
}

.video-banner .bg-video:before,
.img-banner .bg-video:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 1130px;
  opacity: 0.4;
  background: linear-gradient(180deg, #017D8D 0%, rgba(1, 125, 141, 0) 85%);
  filter: blur(60px);
}
.video-banner .bg-video::after,
.img-banner .bg-video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 1130px;
  opacity: 0.4;
  background: linear-gradient(180deg, #2132B0 0%, rgba(33, 50, 176, 0) 85%);
  filter: blur(60px);
}

.bg-video,
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: var(--spacing-regular);
height: 70vh;
    z-index:10; 
}
@media (min-width: 500px) {
.banner-content {
height: 60vh;
}
}
@media (min-width: 769px) {
.banner-content {
    height: 105vh;
    }
.academy_video:after {
     content: "";
  position: absolute;
  bottom: -155px;
  left: 0;
  height: 82%;
  width: 100%;
  z-index: 0;
background: linear-gradient(to bottom,  rgba(231,237,243,0) 0%,rgba(231,237,243,1) 60%,rgba(231,237,243,1) 100%,rgba(231,237,243,0) 100%); 
}

    .bg-video,
.bg-img {
  height: 100%;
}

}
@media (min-width: 1024px) {
.banner-content {
    height: 112vh;
    }
    .video-banner,
.img-banner {
  position: relative;
  height: auto;
  width: 100%;
  height: 100vh;
}
}
@media (min-width: 1400px) {
.banner-content {
    height: 112vh;
    }

}
.banner-content h1 {
  color: var(--text-on-light-highlight);
  text-align: center;
  font-size: var(--font-size-1200);
  font-style: normal;
  font-weight: var(--heading-font-weight);
  line-height: 112%;
  letter-spacing: -1.8px;
  margin: 0;
}
.banner-content h1 + p {
  max-width: 700px;
  padding: 0 1rem;
  width: 100%;
}
.banner-content p {
  color: var(--text-on-light-default);
  text-align: center;
  font-size: var(--font-size-500);
  font-style: normal;
  font-weight: var(--body-font-weight-regular);
  line-height: 150%;
  margin: 0;
  letter-spacing: -0.25px;
}

.scroll-indicator {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-indicator p {
  color: var(--text-on-light-highlight);
  text-align: center;
  font-size: var(--font-size-300);
  font-style: normal;
  font-weight: var(--body-font-weight-bold);
  line-height: 150%;
  padding-bottom: 0.75rem;
}
.scroll-indicator span {
  animation: bounce 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lift-button-gap, 4px);
  border-radius: var(--lift-button-border-radius);
  border: 2px solid var(--outline-on-light-link-enabled);
  background: var(--background-container-on-light-link-secondary-enabled);
  color: currentColor;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.scroll-indicator span:before {
  font-size: 12px;
}
.scroll-indicator span:hover {
  border-radius: var(--lift-button-border-radius, 32px);
  border: 2px solid var(--Outline-On-Dark-Emphasis, #169AF3);
  background: var(--Outline-On-Dark-Emphasis, #169AF3);
  color: #002244;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}